{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

{{ wtf.quick_form(form) }}

<h2>Relação de alunos cadastrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
        </tr>
    </thead>
    <tbody>
        {% for user in all_user%}
        <tr>
            <td>{{user.name}}</td>
            {% if user.disciplina_id%}
                <td> {{user.disciplina_id}}</td>
            {%else%}
                <td>User</td>
            {%endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}